.padding-5px{
    padding: 5px !important;
}

.font-bold{
    font-weight: bold !important;
}

.nav-social-media-btn { 
    font-size: 16px;
    margin-top: 4px;
}
    
.faq-help-title {
    width: 200px;
    word-break: break-all;
}
.site-font-primary
{
    color: #ff5e14;
}
.facility-icon svg{
    height: 70px;
}
.bg-gray-imp {
    background-color: #f5f6f6 !important;
}

#Amenities {
    .mt-icon-box-wraper:hover{
        background-color: #152854 !important;
        color: #FFFFFF !important;
    }

    .mt-icon-box-wraper:hover h4{
        color: #FFFFFF !important;
    }

    .mt-icon-box-wraper:hover svg{
        color: #FFFFFF !important;
    }
}

#core-values .mt-icon-box-wraper svg{
    color: #020d26 !important;
    color: #ff5e14;
    width: 80%;
}